// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$text-color:       #111 !default;
$background-color: #fdfdfd !default;

$primary-color: #CE2832 !default;
$brand-color: $primary-color;

$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: darken($primary-color, 10%) !default;
$font-color: #222 !default;
$overlay-color: rgba(31,44,108,.45);

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$dark-grey: $grey-color-dark;
$table-text-align: left !default;

// Typography
// Typesetting variables. Edit these!
$baseFontSize: 20; // in pixels
$baseLineHeight: 1.5 !default; // how large the line height
$leading: $baseLineHeight * 1rem;
$base-font-weight: 400 !default;
$small-font-size:  $baseFontSize * 0.875 !default;
$spacing-unit:     30px !default;


//Grid Variables
$container-width: 960px !default;
$container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns


// Misc
$global-radius: 4px !default;


// Width of the content area
$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $baseFontSize * $ratio;
}
